/infrastructure/.terraform.lock.hcl
/infrastructure/.terraform
/infrastructure/argocd/.git/*
/infrastructure/argocd/README.md
/infrastructure/database/.git/*
/infrastructure/database/README.md
/infrastructure/jenkins/.git/*
/infrastructure/jenkins/README.md
/infrastructure/kubernetes/.git/*
/infrastructure/kubernetes/README.md
/infrastructure/monitoring/.git/*
/infrastructure/monitoring/README.md
/infrastructure/Jenkins/Dockerfile
/infrastructure/terraform.tfstate
/application/film-application/.git/*
